<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.hmxz.modules.wx.dao.WxQrCodeMapper">
    <cache-ref namespace="cn.hmxz.modules.wx.dao.WxQrCodeMapper"/>
    <update id="updateNumber">
    update wx_qr_code set number = number + 1 where scene_str = #{sceneStr}
</update>
</mapper>
